h1 {
  color: navy;
  font-family: Calibri;
}

h2 {
  color: navy;
  font-family: Calibri;
}

h3 {
  color: navy;
  font-family: Calibri;
}

body {
  line-height: 100%;
  font-family: Calibri;
  color: green;
}