h1 {
  color: navy;
  margin-left: 20px;
}

h2 {
  color: navy;
  margin-left: 17px;
}

h3 {
  color: navy;
  margin-left: 14px;
}

body {
  line-height: 100%;
  font-family: Calibri;
  color: green;
}